# 반복문

In [4]:
num1 = 6
num1 += 1 # num1 = num1 + 1
num2 = 7
num2 -= 5 # num2 = num2 - 5
num3 =8
num3 /= 2 # num3 = num3 / 2
print(num1,num2,round(num3))
num1 = 1
num1 *= 3 # num1 = num1 * 3
num2 = 2
num2 **= 3 # num2 = num2^3,    ** = ^ = 제곱(승)
print(num1, num2)

7 2 4
3 8

In [7]:
# 3항 연산자
x = 3
ans = 'Non-negative' if x>=0 else 'Negative'
print(ans)

Non-negative

In [10]:
city = '' # 문자열 거짓(''), 공백(' ')도 문자열, 숫자의 거짓 : 0, list의 거짓 : [], dict의 거짓:{}, tuple의 거짓:()
if city:
    print('empty city')

empty city

In [11]:
city = ' ' # 공백이 있는 경우
if city:
    print('empty city')

empty city

In [17]:
# 날짜의 입력은 문자열
# 특수하게 해석해서 년월일로 해석

import datetime
dt = datetime.datetime.now()  # 함수는 ()를 사용해야 함 / now() : 현재의 시,분,초를 detail하게 알려줌
print(dt)
print()

# 데이터 입력
age = input("생년월일(0000.00.00)을 입력하시오 : ")

# 데이터 처리
year = int(age[0:4]) # 마지막은 미포함
month = int(age[4:6])
day = int(age[6:])

# 빼기 연산
# 분산 : 상계처리 방지를 위해 제곱을 함
year_diff = dt.year - year
month_diff = dt.month - month
day_diff = dt.day - day

if day_diff < 0:    # 일 내림 처리
    month_diff -= 1
if month_diff <0 :  # 월 내림 처리
    year_diff -= 1

# 데이터 출력    
print("당신의 나이는 ", year_diff + 1)
if year_diff < 18:
    print("당신은 미성년자입니다.")
else:
    print("당신은 성인입니다.")

2019-12-26 10:58:52.053373

생년월일(0000.00.00)을 입력하시오 : 19960404
당신의 나이는  24
당신은 성인입니다.

In [ ]:
# 데이터 입력 -> 처리(연산자), 제어문(판단문, 한가지 규칙을 여러 데이터에 적용 : 반복문 사용)

In [18]:
# for문
# for( i=0; i< 100; i++ ) : index overflow 인덱스 오버플로우
# -> 그래서 도입한 게 << for in 문 >>

In [22]:
# 데이터를 사용하는 방법

elements = ["earth","air","fire","water"]
for i in elements : # i = "earth"          # in 문 뒤에 올 수 있는 것 : Collections, iterator, generator, enumerate 
    print(i, end = " ") # end = " " => 옆으로 출력

earth air fire water

In [23]:
# Collections : list, tuple, dict, set
# iterator : range : ( i=0; i< 100; i++ )와 같은 방법으로 사용( start, end, step )
# generator : 데이터 생성 - 메모리를 차지하지 않음.
# enumerate : list나 collections 데이터에 번호를 부여(mapping) -> 0:earth, 1:air, 2:fire, 3:water

In [24]:
for i in range(5): # 최종값 = 5
    print(i)

0
1
2
3
4

In [25]:
# 파이썬은 오버로딩이 없음 : default 값으로 처리
for i in range(2,5):
    print(i)

2
3
4

In [26]:
for i in range(0, 10, 2): # start, end, step
    print(i)

0
2
4
6
8

In [30]:
# 인덱스를 사용하는 방법

for i in range(4):
    print(i)
    print(elements[i])

0
earth
1
air
2
fire
3
water

In [37]:
# range는 객체다. => 그냥 print하면 제대로 나오지 않음 => casting 해줘야 함.

ra = range(4)
print(ra)
print(list(ra)) # 리스트로 캐스팅(데이터 변환)

ra = reversed(range(4))
print(ra)
print(list(ra))

range(0, 4)
[0, 1, 2, 3]
<range_iterator object at 0x000001B0EE4C0B30>
[3, 2, 1, 0]

In [38]:
print(list(range(5,-1,-1)))

[5, 4, 3, 2, 1, 0]

In [41]:
# 1 ~ 10까지 더하려면 증가변수, 누적변수 필요
sum = 0
for x in range(1,11):
    #sum = sum + x
    sum += x
print(sum)

55

In [46]:
# 중첩된 for문
for x in range(2,5): # 단(2,3,4단)
    print() # 단이 끝날 때마다 줄 바꿈
    for y in range(2,10):
        print(x, '*',y,'=', x*y, end = "     ")

2 * 2 = 4     2 * 3 = 6     2 * 4 = 8     2 * 5 = 10     2 * 6 = 12     2 * 7 = 14     2 * 8 = 16     2 * 9 = 18
3 * 2 = 6     3 * 3 = 9     3 * 4 = 12     3 * 5 = 15     3 * 6 = 18     3 * 7 = 21     3 * 8 = 24     3 * 9 = 27
4 * 2 = 8     4 * 3 = 12     4 * 4 = 16     4 * 5 = 20     4 * 6 = 24     4 * 7 = 28     4 * 8 = 32     4 * 9 = 36

In [53]:
for x in range(1,10): 
    print()
    for y in range(2,10): # 단(2,3,4단)
        print(y, '*',x,'=', x*y, end="    ")

2 * 1 = 2    3 * 1 = 3    4 * 1 = 4    5 * 1 = 5    6 * 1 = 6    7 * 1 = 7    8 * 1 = 8    9 * 1 = 9
2 * 2 = 4    3 * 2 = 6    4 * 2 = 8    5 * 2 = 10    6 * 2 = 12    7 * 2 = 14    8 * 2 = 16    9 * 2 = 18
2 * 3 = 6    3 * 3 = 9    4 * 3 = 12    5 * 3 = 15    6 * 3 = 18    7 * 3 = 21    8 * 3 = 24    9 * 3 = 27
2 * 4 = 8    3 * 4 = 12    4 * 4 = 16    5 * 4 = 20    6 * 4 = 24    7 * 4 = 28    8 * 4 = 32    9 * 4 = 36
2 * 5 = 10    3 * 5 = 15    4 * 5 = 20    5 * 5 = 25    6 * 5 = 30    7 * 5 = 35    8 * 5 = 40    9 * 5 = 45
2 * 6 = 12    3 * 6 = 18    4 * 6 = 24    5 * 6 = 30    6 * 6 = 36    7 * 6 = 42    8 * 6 = 48    9 * 6 = 54
2 * 7 = 14    3 * 7 = 21    4 * 7 = 28    5 * 7 = 35    6 * 7 = 42    7 * 7 = 49    8 * 7 = 56    9 * 7 = 63
2 * 8 = 16    3 * 8 = 24    4 * 8 = 32    5 * 8 = 40    6 * 8 = 48    7 * 8 = 56    8 * 8 = 64    9 * 8 = 72
2 * 9 = 18    3 * 9 = 27    4 * 9 = 36    5 * 9 = 45    6 * 9 = 54    7 * 9 = 63    8 * 9 = 72    9 * 9 = 81

In [54]:
# 내장함수 : 동적으로 데이터 생성
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
[i**2 for i in range(10)] # list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [60]:
{i: i**3 for i in range(10)} # dict

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [61]:
[i**2 for i in range(10) if i%2 == 0] # 판단문 추가

[0, 4, 16, 36, 64]

In [63]:
#for r in rows:
#    for c in cols:
#        (r,c)

rows = range(1,5)
cols = range(10,15)
vectors = [(r,c) for r in rows for c in cols ]
vectors

[(1, 10),
 (1, 11),
 (1, 12),
 (1, 13),
 (1, 14),
 (2, 10),
 (2, 11),
 (2, 12),
 (2, 13),
 (2, 14),
 (3, 10),
 (3, 11),
 (3, 12),
 (3, 13),
 (3, 14),
 (4, 10),
 (4, 11),
 (4, 12),
 (4, 13),
 (4, 14)]

In [66]:
# 3의 배수 혹은(+) 5의 배수에서는 숫자 출력 대신 문자열 출력
# 문자열 연산자 +, *(반복)
# 앞이 참이면, 뒤의 것은 계산하지 않음
# True == 1, False == 0

["3의 배수" * (i%3==0) + "5의 배수" * (i%5==0) or i for i in range(1,21)]

[1,
 2,
 '3의 배수',
 4,
 '5의 배수',
 '3의 배수',
 7,
 8,
 '3의 배수',
 '5의 배수',
 11,
 '3의 배수',
 13,
 14,
 '3의 배수5의 배수',
 16,
 17,
 '3의 배수',
 19,
 '5의 배수']

In [74]:
# 정수를 입력받아 A,B,C,D,F 학점으로 출력하시오. (점수를 학점으로 mapping 시키시오.)

# score = int(input("점수를 입력하세요 : "))
# #grade = ["A","B","C","D","E"]

# ["A" * (score >= 90 <=100) + "B" * (score>=80 and score < 90) + "C" * (score>=70 and score < 80) + "D" * (score >= 60 and score < 70) + "F" * (score<60)]

while True: # 무한루프
    score = int(input("점수를 입력하세요 : "))
    if score == 0 : # 무한루프인 경우 종료조건 반드시 지정!
        break       # 반복문 종료
    if score >= 90: print("A학점")
    elif score >= 80: print("B학점")
    elif score >= 80: print("C학점")
    elif score >= 80: print("D학점")
    else: print("F학점")

점수를 입력하세요 : 50
F학점
점수를 입력하세요 : 0

In [78]:
# 번호 국어 영어 수학 점수를 입력하는 프로그램 작성( 3명 분 )
# 2차원 리스트로 생성.

final = []
for i in range(3):
    sungjuk = [] # 주소값 저장 -> if 전역변수로 빼면 한 번만 초기화 되기 때문에 리스트 하나에 3명 분 데이터가 다 들어가고 * 3 됨
    num = input("번호를 입력하세요 : ")
    name = input("이름을 입력하세요 : ")
    kor = input("국어 점수를 입력하세요 : ")
    eng = input("영어 점수를 입력하세요 : ")
    math = input("수학 점수를 입력하세요 : ")
    
    sungjuk.append(num)   # sungjuk 리스트에 번호(num) 데이터 추가
    sungjuk.append(name)  # sungjuk 리스트에 이름(name) 데이터 추가
    sungjuk.append(kor)   # sungjuk 리스트에 국어 점수(kor) 데이터 추가
    sungjuk.append(eng)   # sungjuk 리스트에 영어 점수(eng) 데이터 추가
    sungjuk.append(math)  # sungjuk 리스트에 수학 점수(math) 데이터 추가
    final.append(sungjuk) # final 리스트에 성적 데이터(번호, 이름, 국어, 영어, 수학) 추가

print(final)

번호를 입력하세요 : 11
이름을 입력하세요 : 124
국어 점수를 입력하세요 : 1
영어 점수를 입력하세요 : 23
수학 점수를 입력하세요 : 4
번호를 입력하세요 : 56
이름을 입력하세요 : 2
국어 점수를 입력하세요 : 3
영어 점수를 입력하세요 :
수학 점수를 입력하세요 : 2
번호를 입력하세요 : 6
이름을 입력하세요 : 4
국어 점수를 입력하세요 : 3
영어 점수를 입력하세요 : 2
수학 점수를 입력하세요 : 3
[['11', '124', '1', '23', '4'], ['56', '2', '3', '', '2'], ['6', '4', '3', '2', '3']]

In [176]:
# 문제) 합계와 평균을 구해서 추가시켜 보시오.
# 평균은 소수점 3째 자리에서 반올림하고, 2째자리까지 표현하시오.

final = []
for i in range(3):
    sungjuk = []
    num = input("번호를 입력하세요 : ")
    name = input("이름을 입력하세요 : ")
    kor = int(input("국어 점수를 입력하세요 : "))
    eng = int(input("영어 점수를 입력하세요 : "))
    math = int(input("수학 점수를 입력하세요 : "))
    
    hap = kor + eng + math
    avg = round(hap / 3, 2)
    
#     if avg >= 90 :
#         grade = "A"
#     elif avg >= 80:
#         grade = "B"
#     elif avg >= 70:
#         grade = "C"
#     elif avg >= 60:
#         grade = "D"
#     else:
#         grade = "F"    
    
    #프로그램은 순서적으로 실행됨 : 순서를 변경하는 것 - 제어문과 함수
    # 순서가 있는 자료구조
    sungjuk.append(num)
    sungjuk.append(name)
    sungjuk.append(kor)
    sungjuk.append(eng)
    sungjuk.append(math)
    sungjuk.append(hap)
    sungjuk.append(avg)
    
    final.append(sungjuk)

print(final)

번호를 입력하세요 : 1
이름을 입력하세요 : 이윤지
국어 점수를 입력하세요 : 65
영어 점수를 입력하세요 : 86
수학 점수를 입력하세요 : 34
번호를 입력하세요 : 2
이름을 입력하세요 : 이소정
국어 점수를 입력하세요 : 65
영어 점수를 입력하세요 : 85
수학 점수를 입력하세요 : 34
번호를 입력하세요 : 3
이름을 입력하세요 : 박주은
국어 점수를 입력하세요 : 75
영어 점수를 입력하세요 : 84
수학 점수를 입력하세요 : 56
[['1', '이윤지', 65, 86, 34, 185, 61.67], ['2', '이소정', 65, 85, 34, 184, 61.33], ['3', '박주은', 75, 84, 56, 215, 71.67]]

In [177]:
# 정렬하고 싶은 경우 ( 이름으로 정렬하고 싶다 )
# 기본 데이터 타입 : string, int, float, list, dict, set, tuple
# 파이썬은 모든 것이 객체(변수+함수) : 사용자 정의 데이터 타입

final.sort() # 첫번째 데이터로 정렬
print(final)

[['1', '이윤지', 65, 86, 34, 185, 61.67], ['2', '이소정', 65, 85, 34, 184, 61.33], ['3', '박주은', 75, 84, 56, 215, 71.67]]

In [178]:
# key 값에 함수가 들어가게 되어있음. : 함수를 키로 한다. : 1인분 데이터 전달( 번호, 이름 , 국어, 영어, 수학 점수)

def getKey(a1):
    return a1[1]

final.sort(key=getKey)
print(final)

final.sort(key=getKey, reverse = True)
print(final)

[['3', '박주은', 75, 84, 56, 215, 71.67], ['2', '이소정', 65, 85, 34, 184, 61.33], ['1', '이윤지', 65, 86, 34, 185, 61.67]]
[['1', '이윤지', 65, 86, 34, 185, 61.67], ['2', '이소정', 65, 85, 34, 184, 61.33], ['3', '박주은', 75, 84, 56, 215, 71.67]]

In [183]:
# lambda 함수 : 무명함수, 간단한 함수를 작성할 때 사용. 위의 getKey()함수는 활용성이 X
# getKey = lambda row: row[1]
final.sort(key=lambda row: row[1], reverse = True) # row는 변수 이름. a1과 같다고 생각하면 됨
print(final)

[['1', '이윤지', 65, 86, 34, 185, 61.67, 2, 2], ['2', '이소정', 65, 85, 34, 184, 61.33, 3, 3], ['3', '박주은', 75, 84, 56, 215, 71.67, 1, 1]]

In [184]:
# 등수를 입력하는 필드를 추가하시오.
final.sort(key=lambda row: row[5], reverse = True) # 총점 중심, 내림차순

rank = 0
for i in range(len(final)):
    rank += 1
    final[i].append(rank)

In [185]:
final.sort(key=lambda row: row[7])
print(final)

[['3', '박주은', 75, 84, 56, 215, 71.67, 1, 1, 1], ['1', '이윤지', 65, 86, 34, 185, 61.67, 2, 2, 2], ['2', '이소정', 65, 85, 34, 184, 61.33, 3, 3, 3]]

In [189]:
rank = 0
for i in range(len(final)):
    rank += 1
    final[i].append(rank)
final.sort(key = lambda row: row[0])
hap_list = ["번호","이름","국어","수학","영어","합계","평균","순위"]
for j in range(len(final[0])):
    print(hap_list[j], end= ' ')
for i in range(len(final)):
    print(end = "\n")
    for j in range(8):
        print(final[i][j], end = ' ' )

번호 이름 국어 수학 영어 합계 평균 순위

IndexError: list index out of range

In [ ]:
# 문제 number guess( 숫자 맞추기 게임 1:1 )
# 1) 컴퓨터는 숫자를 랜덤으로 발생시킵니다. ( 1 ~ 100 )
# 2) 사용자는 숫자를 입력합니다.
# 3) 컴퓨터가 낸 숫자와 사용자가 입력한 숫자가 일치하는지 확인하고 일치하면 확인하고, 다시 다음 게임으로 진행합니다.
# 4) 만약 맞추지 못하였으면, 사용자가 입력한 숫자가 컴퓨터가 갖고 있는 수보다 큰지 작은지를 알려줍니다.
# 5) 무한루프로 진행하던 게임은 q가 눌리면 종료합니다.
# 6) 몇회만에 맞추었는지를 확인하여 출력해 줍니다.
# 7) 총 진행 횟수하고 guess 횟수를 누적시킨 다음 평균 시도횟수를 출력하시오.

In [7]:
# 필요한 변수 : 컴퓨터 선정수, 사용자 입력, 총 횟수, 평균시도 횟수
# 경우의 수는 3가지( 정답, 작은 경우, 큰 경우)
# 전체 게임 횟수와 이긴 횟수
# 평균 시도횟수를 계산하기 위해서 변수를 정의하고 계산

from random import randint
import sys

tot_game = 0 #전체 게임 횟수
win = 0 # 정답인 경우

tot_attempt = [] # 전체 시도횟수

while True:
    n = randint(1, 101)
    tot_game += 1
    game = 0 # 1회당 게임 횟수
    while True:
        num = input("숫자를 입력하세요 : ")
        game += 1
        if num == "Q" or num == "q":
            print("총 게임 수", tot_game-1, "이긴 횟수 : ", win)
            game_tot = sum(tot_attempt)
            print("평균시도횟수", game_tot/(tot_game - 1) )
            sys.exit(0) # 프로그램 종료
        else:
            num = int(num)
            if n == num:
                cnt += 1
                print("정답!"); win += 1; tot_attempt.append(game)
                break
            else:
                if n > num:
                    cnt += 1
                    print("선정수가 입력값보다 큽니다.")
                else:
                    cnt += 1
                    print("선정수가 입력값보다 작습니다.")

숫자를 입력하세요 : 80
선정수가 입력값보다 큽니다.
숫자를 입력하세요 : 90
선정수가 입력값보다 큽니다.
숫자를 입력하세요 : 100
선정수가 입력값보다 작습니다.
숫자를 입력하세요 : 95
선정수가 입력값보다 큽니다.
숫자를 입력하세요 : 96
정답!
숫자를 입력하세요 : 90
정답!
숫자를 입력하세요 : q
총 게임 수 2 이긴 횟수 :  2
평균시도횟수 3.0

SystemExit: 0

In [8]:
# 문제 1) 제곱미터로 입력되는 아파트 면적을 평형으로 계산하여 종류를 (30평을 기준으로) 판정하는 프로그램 작성
# 소형(17), 중소형(25), 중형(30)
# 평형 수 = 제곱미터 / 3.305

In [24]:
mm = int(input("아파트 면적을 입력하세요(제곱미터) : "))
apt = round(mm/3.305, 2)


if apt >= 30 :
    print("평수 : ", apt, ", 아파트 유형은 중형입니다.")
elif apt < 30 and apt >= 25:
    print("평수 : ", apt, ", 아파트 유형은 중소형입니다.")
else:
    print("평수 : ", apt, ", 아파트 유형은 소형입니다.")

아파트 면적을 입력하세요(제곱미터) : 34
평수 :  10.29 , 아파트 유형은 소형입니다.

In [13]:
# 문제 2) 날 수를 입력하면 이를 초로 변경하는 프로그램 작성

In [16]:
day = int(input("일 수를 입력하세요 : "))

second = day*24*60*60 # second = day * 24 * 3600
print(second, "초")

일 수를 입력하세요 : 2
172800 초

In [ ]:
# 문제 3) 득세 계산 : 소득 세율표를 구해보고 이를 이용하여 소득이 들어오면 세금이 얼마인지 계산해 보시오
# (연봉. 단순히 세율만 적용합니다.)
# 1천 만원 미만시 연봉 9.5%, 1천 ~ 4천 : 19%, 4천 ~ 8천 : 28%, 8천 이상 : 37%

In [26]:
income = int(input("연봉을 입력하세요(단위:만원) : "))

if income >= 8000:
    tax = income * 0.37
elif income >= 4000 and income < 8000:
    tax = income * 0.028
elif income >= 1000 and income < 4000:
    tax = income * 0.019
else:
    tax = income * 0.095

print("연봉 :",income,"만원,", "세금 :", tax, "만원")

연봉을 입력하세요(단위:만원) : 4280
연봉 : 4280 만원, 세금 : 119.84 만원

In [29]:
# 선생님 답
annual_income = int(input("연봉을 입력하시오(단위:원) : "))
tax = 0.0
if income < 10000000:
    tax = annual_income * 0.095
elif annual_income < 40000000:
    tax = 10000000*0.095 + (annual_income - 10000000) * 0.019
elif annual_income < 80000000:
    tax = 10000000*0.095 + 30000000*0.019 + (annual_income - 40000000) * 0.028
else:
    tax = 10000000*0.095 + 30000000*0.019 + 40000000 * 0.028 + (annual_income - 80000000) * 0.037
print("입력하신 연봉은 ",annual_income,"원이고 세금은 ",tax,"원입니다.")

연봉을 입력하시오(단위:원) : 42800000
입력하신 연봉은  42800000 원이고 세금은  4066000.0 원입니다.

In [ ]:
# 놀이공원 매표소 단체 입장료 계산하기
# 조건 : 팀별 인원 구성을 입력( 초등, 청소년, 일반인, 경로대상)하면 입장료 소견표에
# 정산요금 : 초등(5000원), 청소년(10000원), 일반인(15000원), 경로대상(3000원)
# 팀별 할인 카드 확인
# 카드 없음 : 할인 무, 일반카드 : 10%, VIP : 20%

In [23]:
primary = int(input("초등생 수를 입력하세요 :"))
teen = int(input("청소년 수를 입력하세요 :"))
adult = int(input("일반인 수를 입력하세요 :"))
senior = int(input("경로대상 수를 입력하세요 :"))
card = input("카드 종류를 입력하세요(카드 없음/일반카드/VIP): ")

if card == "카드 없음" or card == "없음":
    total = primary * 5000 + teen * 10000 + adult * 15000 + senior * 3000
    print(total)
else:
    if card == "일반카드" or card == "일반":
        total = (primary * 5000 + teen * 10000 + adult * 15000 + senior * 3000) * 0.9
        print(total)
    elif card == "VIP" or card == "vip":
        total = (primary * 5000 + teen * 10000 + adult * 15000 + senior * 3000) * 0.8
        print(total)

초등생 수를 입력하세요 :1
청소년 수를 입력하세요 :1
일반인 수를 입력하세요 :1
경로대상 수를 입력하세요 :1
카드 종류를 입력하세요(카드 없음/일반카드/VIP): 일반
29700.0

In [35]:
# 선생님 답 - if문 없이 코딩

primary = int(input("초등생 수를 입력하세요 :"))
teen = int(input("청소년 수를 입력하세요 :"))
adult = int(input("일반인 수를 입력하세요 :"))
senior = int(input("경로대상 수를 입력하세요 :"))

pri_tot = 5000*primary
teen_tot = 10000*teen
adult_tot = 15000*adult
senior_tot = 3000*senior
tot = pri_tot + teen_tot + adult_tot + senior_tot

card = int(input("카드없음(0), 일반카드(1), VIP(2)를 선택해주세요"))
select = [tot, tot*0.9, tot*0.8]
print("총 요금은", select[card],"원 입니다.")

초등생 수를 입력하세요 :1
청소년 수를 입력하세요 :2
일반인 수를 입력하세요 :3
경로대상 수를 입력하세요 :4
카드없음(0), 일반카드(1), VIP(2)를 선택해주세요2
총 요금은 65600.0 원 입니다.

In [56]:
numberOfRows = int(input("숫자를 입력하시오: "))
for i in range(numberOfRows):
    for j in range(i+1):
        print("*", end="")
    print()

숫자를 입력하시오: 10
*
**
***
****
*****
******
*******
********
*********
**********

In [67]:
# 1번 : 삼각형

numberOfRows = int(input("숫자를 입력하시오: "))
for i in range(numberOfRows):
    for k in range(numberOfRows-i):
        print(" ", end="")
    for j in range(i+1):
        print("*", end="")
    for m in range(j):
        print("*", end="")
    print()

숫자를 입력하시오: 10
          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
 *******************

In [53]:
num = int(input("숫자를 입력하세요 : "))

for i in range(num):
    for j in range(num-i):
        print("*", end="")
    print()

숫자를 입력하세요 : 10
**********
*********
********
*******
******
*****
****
***
**
*

In [75]:
num = int(input("숫자를 입력하세요 : "))

for i in range(num):
    for k in range(i+1):
        print(" ", end="")
    for j in range(num-i):
        print("*", end="")
    print()

숫자를 입력하세요 : 10
 **********
  *********
   ********
    *******
     ******
      *****
       ****
        ***
         **
          *

In [82]:
# 2번 : 옆으로 돌아간 삼각형

num = int(input("숫자를 입력하시오: "))
for i in range(int(num/2)-1):
    for j in range(i+1):
        print("*", end="")
    print()

for i in range(int(num/2)+1):
    for j in range(int(num/2)-i):
        print("*", end="")
    print()

숫자를 입력하시오: 10
*
**
***
****
*****
****
***
**
*

In [123]:
num = int(input("숫자를 입력하시오: "))
for i in range(int(num/2)-1):
    for k in range(int(num/2)-i):
        print(" ", end="")
    for j in range(i+1):
        print("*", end="")
    print()

for i in range(int(num/2)+1):
    for k in range(i+1):
        print(" ", end="")
    for j in range(int(num/2)-i):
        print("*", end="")
    print()

숫자를 입력하시오: 10
     *
    **
   ***
  ****
 *****
  ****
   ***
    **
     *

In [119]:
num = int(input("숫자를 입력하시오: "))
for i in range(num-1):
    for j in range(i+1):
        print("*", end="")
    print()

for i in range(num):
    for j in range(num-i):
        print("*", end="")
    print()

숫자를 입력하시오: 10
*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*